article {
  color: #fff;
  width: 600px;
  height: 200px;
  background: linear-gradient(
      to right,
      rgba(195, 14, 47, 0.701),
      rgb(253, 184, 39, 0.701)
      
    ),
    url("./images/toronto-background.png");
    background-blend-mode: multiply;
  display: flex;
}

.home {
  width: 40%;
  padding: auto
}

img {

}

h1 {
  text-align: center;
}

.away {
  width: 40%;
}

.time {
  text-align: center;
  width: 20%;
  font-weight: bold;
  
}
